header {
	border-bottom: 1.5px solid rgb(43 48 53);
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100dvh;
}

aside.sidebar-nav .nav-group {
	--sb-group-bg-color-rgb: 75, 0, 130;

	& .group-header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1rem;

		& > .group-icon {
			display: inline-block;
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.5rem;
			fill: rgb(var(--sb-group-bg-color-rgb));
		}

		& > .group-title {
			font-weight: 500;
		}
	}

	& .group-items {
		list-style: none;
		margin: 0;
		padding: 0;

		& .group-item {
			display: list-item;
			text-align: -webkit-match-parent;
			unicode-bidi: isolate;
			margin: 8px 0;
		}

		& .group-link {
			display: block;
			padding: 8px;
			text-decoration: none;
			color: black;
			border-radius: 10px;

			&:hover,
			&.active {
				background-color: rgba(var(--sb-group-bg-color-rgb), 35%);
			}
		}
	}
}

.code-block {
	padding: 8px;
	border-radius: 10px;
	position: relative;

	.code-text {
		margin: 0;
		font-family: monospace;
	}

	& > .copy-btn {
		position: absolute;
		top: 5px;
		right: 5px;
	}
}

footer {
	background-color: #131312;
	color: #ffffff;
	padding: 2rem 0;
	text-align: center;
}

footer a {
	color: #ffffff;
	text-decoration: none;
}

footer a:hover {
	color: #8b8b8b;
}
