.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.nav-link i {
    font-size: 1.5rem;
}
footer {
    background-color: #131312;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #8b8b8b;
}
