.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.nav-link i {
    font-size: 1.5rem;
}


/* Estructura de la Sección de Promociones */
.promo-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar la sección en la pantalla */
    padding: 2rem;
    background-color: #ffffff;
}

/* Alineación del Contenido Interno */
.text-content, .promo-image {
    margin: 0 auto;
}

/* Estilos del Logo y Título */
.promo-logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el logo y el título */
}

.promo-icon {
    height: 40px;
    margin-right: 0.5rem;
}

.promo-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

/* Estilos del Texto */
.promo-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-top: 1rem;
    text-align: center; /* Centra el título */
}

.promo-description {
    font-size: 1rem;
    color: #555;
    margin-top: 1rem;
    line-height: 1.5;
    text-align: center; /* Centra el texto descriptivo */
}

/* Estilos del Botón */
.promo-button {
    background-color: #131312;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 2rem; /* Ajusta este valor para mover hacia abajo */
    margin-left: 8.5rem; /* Ajusta este valor para mover hacia la derecha */
}

.promo-button:hover {
    background-color: #8b8b8b;
    color: #000;
}

/* Estilos de la Imagen */
.promo-image {
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin: 0 auto; /* Centra la imagen */
}
.promo-description{
  text-align: justify;
}


.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.nav-link i {
    font-size: 1.5rem;
}
.promo-section, .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #ffffff;
}
.text-content, .promo-image {
    margin: 0 auto;
}
.promo-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
.promo-heading, .about-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-top: 1rem;
    text-align: center;
}
.promo-description, .about-description {
    font-size: 1rem;
    color: #555;
    margin-top: 1rem;
    line-height: 1.5;
    text-align: justify;
}
.promo-button, .about-button {
    background-color: #131312;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    margin-left: 8.5rem;
}
.promo-button:hover, .about-button:hover {
    background-color: #8b8b8b;
    color: #000;
}
.promo-image, .about-image {
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
footer {
    background-color: #131312;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #8b8b8b;
}
